:root {
  --primary: #111b54;
  --light: #ffffff;
  --grey: #efefef;
}
body {
  overflow: hidden;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  color: var(--primary);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  justify-content: center;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
a:hover {
  text-decoration: none;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-light {
  background-color: var(--light) !important;
}

.bg-grey {
  background-color: var(--grey) !important;
}

.bg-mix {
  background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0);
}

.btn-primary {
  background-color: var(--primary);
  border: 0;
}

.btn-primary:hover {
  background-color: var(--primary);
}

#sidebar-container {
  min-height: 100vh;
}

#sidebar-container .logo {
  padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
  width: 18rem;
}

#content {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}
.embed-responsive .card-img-top {
  object-fit: cover;
}
#zoom{
  overflow: hidden;
}
#zoom img{
  transition: all 1.5s ease;
}

#zoom:hover img{
  transform: scale(1.5);
}
.card-body{
  display: none!important;
}
.card:hover .card-body{
  display: inline!important;
}
.avatar {
  max-width: 35px;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.btn-search {
  right: 0;
}

.stat {
  border-right: 1px solid var(--grey);
}

@media (max-width: 768px) {
  #sidebar-container {
    display: none;
  }
  .stat {
    border: 0;
  }
}

